.col-lg-3
  .panel.panel-info
    .panel-heading
      .row
        .col-xs-6
          %i.fa.fa-users.fa-5x
        .col-xs-6.text-right
          %p.announcement-heading= team.users.count
          %p.announcement-text Team Members
.col-lg-3
  .panel.panel-warning
    .panel-heading
      .row
        .col-xs-6
          %i.fa.fa-check.fa-5x
        .col-xs-6.text-right
          %p.announcement-heading= team.eaten_doughnuts
          %p.announcement-text Eaten Doughnuts
.col-lg-3
  .panel.panel-danger
    .panel-heading
      .row
        .col-xs-6
          %i.fa.fa-tasks.fa-5x
        .col-xs-6.text-right
          %p.announcement-heading= team.bloopers.delivered.count
          %p.announcement-text Times members bringed doughnuts
.col-lg-3
  .panel.panel-success
    .panel-heading
      .row
        .col-xs-6
          %i.fa.fa-fire.fa-5x
        .col-xs-6.text-right
          %p.announcement-heading Aprox. #{team.eaten_doughnuts * 350} cal
          %p.announcement-text Eaten