%h2 Your team doesn't have Administrator!
%h3 We would like you to be administrator of #{@team.slack_url} at Ponczki.
%h3 What you will be able to do?
%ol
  %li Decise if someone bought doughnuts or not.
  %li Edit team informations
  %li Control squad of your team.
= link_to "Yes, I'm ready. Let's start!", edit_team_path(@team.slack_name), class: "btn btn-default center"