.row
  .col-md-12
    .main-timeline
      .timeline
        .timeline-icon
          %i.fa.fa-users
        .timeline-content
          %h3.title How Ponczki works?
          %p.description
            If someone notices unlocked screen, he may type the word - ‘pączki’ (or variations of this word) via one of the public channels on your team internal communicator.
      .timeline
        .timeline-icon
          %i.fa.fa-lock
        .timeline-content
          %h3.title Improve Security
          %p.description
            As a penalty for breaking security aspects, the one who was caught in the act
            owes everyone in the company doughnuts and is obliged to bring them to the office.
      .timeline
        .timeline-icon
          %i.fa.fa-slack
        .timeline-content
          %h3.title Slack Integration
          %p.description
            Our application is full integrated with Slack - once team administrator adds our app to workspace everything is setted up! As simple as possible!
      .timeline
        .timeline-icon
          %i.fa.fa-pie-chart
        .timeline-content
          %h3.title Statistics
          %p.description
            Using Ponczki you will have access to all informations about your team and your teammates such as: how many times security were broken and how many doughnuts someone have to bring.
    - unless user_signed_in?
      %center= render "sign_in_with_slack"