%h2 Available slack commands:
%p '/ponczki setup' - checks if your Workspace is connected with Ponczki
%p '/ponczki help' - show list of available commands
%p '/ponczki @finder' - adds security issue to who posted it and scores a point to persone who tagged yourself!
%hr
%h2 About Ponczki
= render "timeline"