/*
 *= require font-awesome
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'teams';
@import 'users';
@import 'bloopers';
@import 'home';
@import 'slider';

.slack-button {
  padding: 5px !important;
}

.navbar {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.no-padding {
  padding: 0;
}

a .fa-dot-circle-o {
  color: red;
}